set(BAREMETAL_ARM_TOOLCHAIN_PATH
	/home/marc/Embeddded/compiler/gcc-arm-linux-gnueabi/bin)

set(ZYBO_USER "root")
set(ZYBO_PASSWORD "root")
set(ZYBO_IP "192.168.1.4")
set(ZYBO_DEPLOY_DIR "~/deploy")

